annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.4.2
fastapi==0.141.1
gtfs-realtime-bindings==2.0.0
h11==0.16.0
httptools==0.8.0
idna==3.11
opensky-api @ git+https://github.com/openskynetwork/opensky-api.git@5bcc39a8f6d485ff7113fa4aa6d6608ea7e9da02#subdirectory=python
protobuf==7.34.1
psycopg2-binary==2.9.11
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.2.3
PyYAML==6.0.3
requests==2.33.1
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.6.3
uvicorn==0.52.3
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.0.1
